
@{
  ViewData["Title"] = "Greeting";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This is the Greeting from Jon</h1>
    <p class="lead">This is some more text to make it look presentable.</p>
  </div>
</div>

